# ignore autosave files from Matlab/Python and any date files written
*.asv
*.pyc
*.aedat
*.val
/trainFull
/testReduced
/testlmdb_continuous
/testFull
/event-Python.sln
/event-Python.pyproj.user
/event-Python.pyproj
/.vs/event-Python/v14
/trainlmdb_continuous
